@import "src/Variable";

.boxTitle {
  margin: auto 1% 2%;
}
.boxWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4%;
}
.box {
  margin: 0 2%;
  text-align: center;
}
.colorBox {
  width: 70px;
  height: 30px;
  border-radius: $border-radius;
  display: flex;
  margin: 8% auto;
}
.snowBox {
  background-color: $white;
}
.volcanoBox {
  background-color: $orange;
}
.skyBox {
  background-color: $blue;
}