@import "src/Variable";

.boxTitle {
  margin: auto 2% 2%;
}
.boxWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4%;
}
.box {
  margin: 0 2%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  p {
    margin: 0.7em;
  }
}
.colorBox {
  width: 80px;
  height: 40px;
  border-radius: $border-radius;
  display: flex;
  margin: 4% auto;
}
.subBox {
  text-align: left;
  line-height: 2em;
  padding: 2em 1.5em;
  font-size: 0.7em;
  background-color: $subBox-background-color;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  border-radius: $border-radius;
  height: 75%;
}