@import "src/Variable";


.Wrapper {
    padding: 2% 1% 1%;
    height: auto;
    width: 70vw;
}
.title {
    justify-content: center;
    text-align: center;
    font-weight: 400;
    color: $primary-font-color;
    letter-spacing: 0.2em;
    font-size: 1.5em;
    margin-bottom: 2%;
}
