@import "src/Variable";


.Wrapper {
    padding: 2% 1% 1%;
}
.configuratorWrapper {
    display: flex;
    flex-direction: row;

}
.title {
    text-align: center;
    font-weight: 400;
    color: $primary-font-color;
    letter-spacing: 0.2em;
    font-size: 1.5em;
    line-height: 2em;
}
