@import 'src/Variable';

.card {
    background-color: transparent;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    margin: 2% auto;
}

.cardActive {
    border: 1px solid $selected-border-color;
    box-shadow: 0px 0px 4px 0px #6BE4FF;
}
